* {
    padding: 0;
    margin: 0;
}
#whole_card {
    width: 200px;
    font-family:'Times New Roman', Times, serif;

    border-radius: 10px;

    box-shadow: 1px 1px 10px gray;
    margin: 30px;

}
#title {
    text-decoration: underline;
    font-size: large;
    font-weight: bolder;
}
#bottom_part_color {
    background-color: bisque;
    padding: 10px;
    padding-bottom: 25px;
}
#paragraph {
    font-size: small;
    font-weight: bold;
    color: grey;
}
.button {
    color: white;
    border: 2px solid white ;
    background-color:#eca061;
}
#picture {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button:hover {
    color: blue;
    border: 2px solid blue;
}